#homeList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50vh;
  align-content: center;
}

#homeList:first-child {
  margin-top: env(safe-area-inset-top);
}

#home {}

#homeWidget {
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#widgetAlbumArtwork {
  width: 100%;
  display: grid;
  place-items: center;
}

#widgetAlbumArtwork img {
  width: min(75vw, 375px);
  height: min(75vw, 375px);
  display: block;
  /* left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%); */
}

#musicControls {
  width: 100%;
  height: min(15vw, 75px);
  display: flex;
  place-items: center;
  justify-content: center;
  margin-top: min(4vw, 20px);
}

.musicControl svg {
  width: min(12vw, 60px);
  height: min(12vw, 60px);
  fill: var(--main-txt-color);
}

#playPause {
  margin-left: min(15vw, 75px);
  margin-right: min(15vw, 75px);
}

#songInfo {
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
}

#songTitle {
  font-size: min(10vw, 50px);
  font-weight: bold;
}

.musicControl {
  display: grid;
  place-items: center;
}

.musicControl:active {
  filter: brightness(20%);
}

.musicControl:active svg {
  width: 10vw;
  height: 10vw;
}

.scrollable {
  -webkit-overflow-scrolling: touch;
}

#volumeWidget .widgetBody {
  display: grid;
  place-items: center;
}

#volumeWidget input {
  width: calc(100% - 4vw);
  background: var(--secondary-bg-color);
  outline: none;
  -webkit-appearance: none;
  height: min(10vw, 50px);
  border-radius: 4vw;
  overflow: hidden;
}

#volumeWidget input::-webkit-slider-runnable-track {
  /* background: blue; */
}

#volumeWidget input::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 15vw;
  /* Set a specific slider handle width */
  height: 10vw;
  /* Slider handle height */
  background: var(--main-accent-color);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  outline: none;
  border: none;
}

@media only screen and (min-device-width: 900px) {
  #musicWidget {
    display: flex;
    flex-direction: row;
  }

  #songControlsContainer {
    display: flex;
    flex-direction: column;
    /* place-items: start; */
    justify-content: center;
    width: 50%;
  }

  #widgetAlbumArtwork {
    width: 70%;
  }
}