#settingsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  padding-bottom: 50vh;
}

#apiKeyInput:focus:not(.invalid) {
  outline: 1vw solid var(--main-accent-color) !important;
}

#apiKeyInput.invalid {
  outline: 1vw solid red;
}

#versionNumber .widgetBody {
  display: grid;
  place-items: center;
  font-size: min(8vw, 40px);
  padding-bottom: 2vw;
  font-weight: 300;
}

#settings {
  /* overflow: hidden; */
}

#backgroundList .listItem div {
  width: 20vw;
  border-radius: 10%;
  height: 20vw;
  background-image: var(--preview, var(--main-bg-color));
  background-blend-mode: var(--preview-blend-mode);
  background-size: cover;
  background-position: center;
  border: solid 3px;
  border-color: var(--main-txt-color);
  margin-bottom: 4vw;
}

#backgroundList .listItem div.active {
  border-color: var(--main-accent-color);
}